#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
}

.App {
  text-align: center;
}

.user-form > button {
  margin: 0 auto;
}
.user-card {
  margin: 14px;
  padding: 14px;
}

.error-message {
  background: red;
  color: white;
  font-size: 14px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 10px;
}