#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
}

.App {
  text-align: center;
}

.user-card {
  margin: 14px;
  padding: 14px;
}

.placeholder {
  min-width: 800px;
  min-height: 600px;
}

.error-message {
  background: red;
  color: rgb(167, 122, 122);
  font-size: 14px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 10px;
}