#root {
  display: flex;
  justify-content: center;
  margin: 12px;
}

.App {
  text-align: center;
}

.modal-content {
  margin: 14px;
  padding: 14px;
}

.error-message {
  background: red;
  color: white;
  font-size: 14px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 10px;
}